#chat{
    list-style: none;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    padding:5px;
    overflow: scroll;
    word-wrap: break-word;
    scroll-behavior: smooth;
  }
  #chat li:nth-child(odd){
    background-color: black;
    color: white;
  }
  