body{
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
 /* background: rgb(0,2,221);
background: linear-gradient(90deg, rgba(0,2,221,1) 0%, rgba(152,35,97,1) 27%, rgba(180,68,0,1) 48%, rgba(152,35,97,1) 71%, rgba(0,2,221,1) 100%); */
  /* background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,18,1,1) 70%, rgba(70,72,252,1) 100%); */
 
}


button{
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  left: 110%;
  top: 15%;
}

button:hover {
  background-color: rgb(249,250,251);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}



#homeButton{
    position: absolute;
    left: 2%;
    top: 5%;
}

#inputBoxes{
 position:absolute;

  margin:30px auto 0;
  padding:10px 50px 50px;
}

.group        { 
  display: block;
  position: relative;
  /* margin-bottom:45px; 
  left: 36%;
  top: 20%; */
}

#q1{
  position: absolute;
  left: 30%;
  top: 10%; 

}

#q2{
  position: absolute;
  left: 44%;
  top: 10%; 
  width: auto;
}

#q3{
  position: absolute;
  left: 58%;
  top: 10%; 
  width: auto;
}
#q4{
  position: absolute;
  left: 69%;
  top: 10%; 
  width: auto;
}
#q5{
  position: absolute;
  left: 83%;
  top: 10%; 
  width: auto;
}




input         {
  font-size:9px;
  padding:10px 10px 10px 5px;
  display:block;
  width:70px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }



ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  
  display:inline-table;
  position: relative;
 width: 10%;

 
  
}



li {
  height: 30px;
  line-height: 30px;
  
}
label{
  font-size: 14px;
  
}

#usercountP{
  position:absolute;
  display: block;
  padding-left: 80%;
  padding-top: 500%;
  font-size: 20px;
  color: white;
}


#userWords{
  position: absolute;
  width: 100%;
  padding-left: 14%;
  margin-top: 20%;
  font-weight: 400;
}

#chat1{
 
  color:rgb(247, 247, 247);
}

#chat2{
  color:#ffffff;
}

#chat3{
  color:rgb(255, 255, 255);
 
}

#chat4{
  color:rgb(162, 0, 255);
 
}

#chat5{
  color:rgb(255, 102, 0);

} 



h1{
  color: yellow;
}