html, body {
  margin: 0;
  padding: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
canvas {
  display: block;
}


#secretText{
  display: block;
  position: absolute;
  left:35%;
  top: 40%;
}

button{
  background-color: #FFFFFF;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
  touch-action: manipulation;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
 
  
}


#nextButton{
  position: absolute;
  left: 90%;
  top: 5%;
}

#homeButton{
    position: absolute;
    left:5%;
    top: 5%;
}
